<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/global.css">
        <link rel="stylesheet" href="../styles/home.css">
        <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script> 
        <script src="../controller.js" ></script>
        <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
		<script type="text/javascript">
			jQuery(window).load(function($){
				atualizaRelogio();
			});
		</script>
        <!--Fontes-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
        <title>Sistema de Supervisão Hospitalar</title>
    </head>

    <header>
            <p>Sistema de Supervisão Hospitalar</p>
    </header>
    <body>
        <div class="ala">
            <h1>ALA A
                <hr size="10" color="#2e2e2e" width="100%">
            </h1>
            
        </div>
       <section class="rooms"> 
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 110</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 111</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 112</h1>
                </div>
            </a>
            <a class="quarto-emergency-on" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 113</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 114</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 115</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 116</h1>
                </div>
            </a>
          
        </section>
        <div class="ala">
            <h1>ALA B
                <hr size="10" color="#2e2e2e" width="100%">
            </h1>
            
        </div>
       <section class="rooms"> 
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 210</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 211</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 212</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 213</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 214</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 215</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 216</h1>
                </div>
            </a>
          
        </section>
        <div class="ala">
            <h1>ALA C
                <hr size="10" color="#2e2e2e" width="100%">
            </h1>
            
        </div>
       <section class="rooms"> 
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 310</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 311</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 312</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 313</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 314</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 315</h1>
                </div>
            </a>
            <a class="quarto" href="http://127.0.0.1:5500/views/room.html">
                <div >
                    <h1>Quarto 316</h1>
                </div>
            </a>
          
        </section>
        <footer>
            <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
            <ul>
                <li id="data"> </li>
                <li>
                    <output id="data" ></output>        
                    <output id="hora" ></output>	
                </li>
            </ul> 
        </footer>
    </body>
    
</html>
